In [114]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
import pickle

In [2]:
import sqlalchemy as sqla
from sqlalchemy import create_engine
import traceback
import glob
import os
from pprint import pprint
import simplejson as json
import requests
import time
from IPython.display import display
import psycopg2 as ps
import pandas as pd
import numpy as np

In [3]:
URI="dublinbike.cckaxoirozab.eu-west-1.rds.amazonaws.com"
PORT=3306
DB="dublinbike"
USER="comp30830"
PASSWORD="dublinbike"

In [4]:
engine=create_engine("mysql+mysqldb://{}:{}@{}:{}/{}".format(USER,PASSWORD,URI,PORT,DB),echo=True)

In [5]:
data = pd.read_sql('select * from station', engine)
print(data)

2023-04-04 10:06:34,800 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-04-04 10:06:34,802 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-04 10:06:34,818 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-04-04 10:06:34,819 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-04 10:06:34,827 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-04-04 10:06:34,828 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-04 10:06:34,851 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2023-04-04 10:06:34,852 INFO sqlalchemy.engine.Engine [generated in 0.00113s] ('dublinbike', 'select * from station')
2023-04-04 10:06:34,869 INFO sqlalchemy.engine.Engine select * from station
2023-04-04 10:06:34,870 INFO sqlalchemy.engine.Engine [raw sql] ()
                   address  banking  bonus contract_name  \
0            Clarendon Row        0      0        dublin
1       Blessington Street        0      0        dublin
2            Bolton Street        0      0        dublin
3             Greek Street        0      0        dublin
4        Charlemont Street        0      0        dublin
..                     ...      ...    ...           ...
109   Merrion Square South        0      0        dublin
110  Wilton Terrace (Park)        0      0        dublin
111       Killarney Street        0      0        dublin
112             Broadstone        0      0        dublin
113      Hanover Quay East        0      0        dublin

                      name  number  position_lat  position_lng status
0            CLARENDON ROW       1     53.340927     -6.262501   OPEN
1       BLESSINGTON STREET       2     53.356769     -6.268140   OPEN
2            BOLTON STREET       3     53.351182     -6.269859   OPEN
3             GREEK STREET       4     53.346874     -6.272976   OPEN
4         CHARLEMONT PLACE       5     53.330662     -6.260177   OPEN
..                     ...     ...           ...           ...    ...
109   MERRION SQUARE SOUTH     113     53.338614     -6.248606   OPEN
110  WILTON TERRACE (PARK)     114     53.333653     -6.248345   OPEN
111       KILLARNEY STREET     115     53.354845     -6.247579   OPEN
112             BROADSTONE     116     53.354700     -6.272314   OPEN
113      HANOVER QUAY EAST     117     53.343653     -6.231755   OPEN

[114 rows x 9 columns]

In [6]:
df = pd.DataFrame(data)

In [7]:
df.to_csv('station.csv')

In [8]:
df=pd.read_csv("station.csv")

In [9]:
df

,Unnamed: 0,address,banking,bonus,contract_name,name,number,position_lat,position_lng,status
0,0,Clarendon Row,0,0,dublin,CLARENDON ROW,1,53.340927,-6.262501,OPEN
1,1,Blessington Street,0,0,dublin,BLESSINGTON STREET,2,53.356769,-6.268140,OPEN
2,2,Bolton Street,0,0,dublin,BOLTON STREET,3,53.351182,-6.269859,OPEN
3,3,Greek Street,0,0,dublin,GREEK STREET,4,53.346874,-6.272976,OPEN
4,4,Charlemont Street,0,0,dublin,CHARLEMONT PLACE,5,53.330662,-6.260177,OPEN
...,...,...,...,...,...,...,...,...,...,...
109,109,Merrion Square South,0,0,dublin,MERRION SQUARE SOUTH,113,53.338614,-6.248606,OPEN
110,110,Wilton Terrace (Park),0,0,dublin,WILTON TERRACE (PARK),114,53.333653,-6.248345,OPEN
111,111,Killarney Street,0,0,dublin,KILLARNEY STREET,115,53.354845,-6.247579,OPEN
112,112,Broadstone,0,0,dublin,BROADSTONE,116,53.354700,-6.272314,OPEN
113,113,Hanover Quay East,0,0,dublin,HANOVER QUAY EAST,117,53.343653,-6.231755,OPEN

In [10]:
availability = pd.read_sql('select * from availability', engine)
print(availability)

2023-04-04 10:06:34,951 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2023-04-04 10:06:34,951 INFO sqlalchemy.engine.Engine [cached since 0.1008s ago] ('dublinbike', 'select * from availability')
2023-04-04 10:06:35,316 INFO sqlalchemy.engine.Engine select * from availability
2023-04-04 10:06:35,319 INFO sqlalchemy.engine.Engine [raw sql] ()
        number  available_bikes  available_bikes_stands  \
0            1               17                      14
1            1                0                      31
2            1                0                      31
3            1                0                      31
4            1                0                      31
...        ...              ...                     ...
309847     117               39                       1
309848     117               39                       1
309849     117               39                       1
309850     117               39                       1
309851     117               39                       1

                       last_update
0                             2023
1       2023-03-23 01:13:12.639790
2       2023-03-23 01:18:13.417911
3       2023-03-23 01:26:07.467583
4       2023-03-23 01:31:08.366535
...                            ...
309847  2023-04-04 08:44:11.253792
309848  2023-04-04 08:49:12.381701
309849  2023-04-04 08:54:13.516158
309850  2023-04-04 08:59:14.637067
309851  2023-04-04 09:04:15.414279

[309852 rows x 4 columns]

In [11]:
df= pd.DataFrame(availability)

In [12]:
df.to_csv('availability.csv')

In [13]:
df

,number,available_bikes,available_bikes_stands,last_update
0,1,17,14,2023
1,1,0,31,2023-03-23 01:13:12.639790
2,1,0,31,2023-03-23 01:18:13.417911
3,1,0,31,2023-03-23 01:26:07.467583
4,1,0,31,2023-03-23 01:31:08.366535
...,...,...,...,...
309847,117,39,1,2023-04-04 08:44:11.253792
309848,117,39,1,2023-04-04 08:49:12.381701
309849,117,39,1,2023-04-04 08:54:13.516158
309850,117,39,1,2023-04-04 08:59:14.637067
309851,117,39,1,2023-04-04 09:04:15.414279

In [14]:
weather = pd.read_sql('select * from weather', engine)
print(weather)

2023-04-04 10:06:39,453 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2023-04-04 10:06:39,453 INFO sqlalchemy.engine.Engine [cached since 4.603s ago] ('dublinbike', 'select * from weather')
2023-04-04 10:06:39,507 INFO sqlalchemy.engine.Engine select * from weather
2023-04-04 10:06:39,508 INFO sqlalchemy.engine.Engine [raw sql] ()
    weather    temp  feel_temp  min_temp  max_temp  pressure  humidity  \
0      Rain  281.19     277.21    280.51    281.69       987        76
1      Rain  281.19     277.21    280.51    281.69       987        76
2    Clouds  280.31     275.78    279.68    280.58       987        83
3      Rain  280.77     277.13    279.51    281.48       986        86
4    Clouds  280.56     276.86    280.00    281.47       986        84
..      ...     ...        ...       ...       ...       ...       ...
412    Rain  280.85     277.80    280.36    281.68      1024        81
413    Rain  281.02     279.40    280.51    281.48      1024        81
414    Rain  281.36     279.46    280.55    282.04      1024        80
415    Rain  281.51     279.98    281.11    281.80      1024        80
416    Rain  281.92     280.13    281.11    282.59      1024        78

     visibility  wind_speed  wind_deg                        time
0         10000        8.23       200  2023-03-23 01:22:41.387915
1         10000        8.23       200  2023-03-23 01:26:44.796587
2         10000        9.26       220  2023-03-23 02:26:44.940925
3         10000        6.69       210  2023-03-23 03:26:45.041766
4         10000        6.69       200  2023-03-23 04:26:45.163174
..          ...         ...       ...                         ...
412       10000        5.14       200  2023-04-04 06:27:16.238759
413       10000        2.57       140  2023-04-04 07:08:07.820620
414       10000        3.09       150  2023-04-04 07:27:16.338364
415       10000        2.57       140  2023-04-04 08:08:07.908650
416       10000        3.09       200  2023-04-04 08:27:16.433661

[417 rows x 11 columns]

In [15]:
df = pd.DataFrame(weather)

In [16]:
df.to_csv('weather.csv')

In [17]:
df

,weather,temp,feel_temp,min_temp,max_temp,pressure,humidity,visibility,wind_speed,wind_deg,time
0,Rain,281.19,277.21,280.51,281.69,987,76,10000,8.23,200,2023-03-23 01:22:41.387915
1,Rain,281.19,277.21,280.51,281.69,987,76,10000,8.23,200,2023-03-23 01:26:44.796587
2,Clouds,280.31,275.78,279.68,280.58,987,83,10000,9.26,220,2023-03-23 02:26:44.940925
3,Rain,280.77,277.13,279.51,281.48,986,86,10000,6.69,210,2023-03-23 03:26:45.041766
4,Clouds,280.56,276.86,280.00,281.47,986,84,10000,6.69,200,2023-03-23 04:26:45.163174
...,...,...,...,...,...,...,...,...,...,...,...
412,Rain,280.85,277.80,280.36,281.68,1024,81,10000,5.14,200,2023-04-04 06:27:16.238759
413,Rain,281.02,279.40,280.51,281.48,1024,81,10000,2.57,140,2023-04-04 07:08:07.820620
414,Rain,281.36,279.46,280.55,282.04,1024,80,10000,3.09,150,2023-04-04 07:27:16.338364
415,Rain,281.51,279.98,281.11,281.80,1024,80,10000,2.57,140,2023-04-04 08:08:07.908650
416,Rain,281.92,280.13,281.11,282.59,1024,78,10000,3.09,200,2023-04-04 08:27:16.433661

## clean data

### stations

In [18]:
df=pd.read_csv("station.csv")

In [19]:
df.dtypes

Unnamed: 0         int64
address           object
banking            int64
bonus              int64
contract_name     object
name              object
number             int64
position_lat     float64
position_lng     float64
status            object
dtype: object

In [20]:
df.isnull().sum()

Unnamed: 0       0
address          0
banking          0
bonus            0
contract_name    0
name             0
number           0
position_lat     0
position_lng     0
status           0
dtype: int64

In [21]:
# test_1=df[(df['last_update']=='2023')]
# print("Number of rows failing the test: ", test_1.shape[0])

In [22]:
# df=df.drop(test_1)

In [23]:
df_availability =pd.read_csv("availability.csv",index_col=0)

In [24]:
df_availability.isnull().sum()

number                    0
available_bikes           0
available_bikes_stands    0
last_update               0
dtype: int64

In [25]:
df_availability.tail(10)

,number,available_bikes,available_bikes_stands,last_update
309842,117,39,0,2023-04-04 08:19:06.863749
309843,117,40,0,2023-04-04 08:24:07.725445
309844,117,40,0,2023-04-04 08:29:08.477952
309845,117,40,0,2023-04-04 08:34:09.478991
309846,117,40,0,2023-04-04 08:39:10.277337
309847,117,39,1,2023-04-04 08:44:11.253792
309848,117,39,1,2023-04-04 08:49:12.381701
309849,117,39,1,2023-04-04 08:54:13.516158
309850,117,39,1,2023-04-04 08:59:14.637067
309851,117,39,1,2023-04-04 09:04:15.414279

In [26]:
df_availability = df_availability[df_availability['last_update']!='2023'].reset_index(drop=True)

In [27]:
# df_availability.last_update[1][0:13]+':00:00'
result=[]
for i in range(len(df_availability)):
    result.append(df_availability.last_update[i][0:13]+':00:00')

In [28]:
df_availability["hour"]=result

In [29]:
df_availability.head(10)

,number,available_bikes,available_bikes_stands,last_update,hour
0,1,0,31,2023-03-23 01:13:12.639790,2023-03-23 01:00:00
1,1,0,31,2023-03-23 01:18:13.417911,2023-03-23 01:00:00
2,1,0,31,2023-03-23 01:26:07.467583,2023-03-23 01:00:00
3,1,0,31,2023-03-23 01:31:08.366535,2023-03-23 01:00:00
4,1,0,31,2023-03-23 01:36:09.196093,2023-03-23 01:00:00
5,1,0,31,2023-03-23 01:41:09.973804,2023-03-23 01:00:00
6,1,0,31,2023-03-23 01:46:10.703312,2023-03-23 01:00:00
7,1,0,31,2023-03-23 01:51:11.487183,2023-03-23 01:00:00
8,1,0,31,2023-03-23 01:56:12.310439,2023-03-23 01:00:00
9,1,0,31,2023-03-23 02:01:13.054742,2023-03-23 02:00:00

In [30]:
df_weather=pd.read_csv("weather.csv",index_col=0)

In [31]:
result=[]
for i in range(len(df_weather)):
    result.append(df_weather.time[i][0:13]+':00:00')

In [32]:
df_weather["hour"]=result

In [33]:
df_weather.head(5)

,weather,temp,feel_temp,min_temp,max_temp,pressure,humidity,visibility,wind_speed,wind_deg,time,hour
0,Rain,281.19,277.21,280.51,281.69,987,76,10000,8.23,200,2023-03-23 01:22:41.387915,2023-03-23 01:00:00
1,Rain,281.19,277.21,280.51,281.69,987,76,10000,8.23,200,2023-03-23 01:26:44.796587,2023-03-23 01:00:00
2,Clouds,280.31,275.78,279.68,280.58,987,83,10000,9.26,220,2023-03-23 02:26:44.940925,2023-03-23 02:00:00
3,Rain,280.77,277.13,279.51,281.48,986,86,10000,6.69,210,2023-03-23 03:26:45.041766,2023-03-23 03:00:00
4,Clouds,280.56,276.86,280.00,281.47,986,84,10000,6.69,200,2023-03-23 04:26:45.163174,2023-03-23 04:00:00

In [34]:
df_availability_new=df_availability.groupby(["number","hour"])["available_bikes"].mean()

In [35]:
df_availability_new=pd.DataFrame(df_availability_new)

In [36]:
df_availability_new = df_availability_new.reset_index()

In [37]:
df_availability_new.head(10)

   number                 hour  available_bikes
0       1  2023-03-23 01:00:00         0.000000
1       1  2023-03-23 02:00:00         0.000000
2       1  2023-03-23 03:00:00         0.000000
3       1  2023-03-23 04:00:00         0.000000
4       1  2023-03-23 05:00:00         0.000000
5       1  2023-03-23 06:00:00         1.000000
6       1  2023-03-23 07:00:00         7.166667
7       1  2023-03-23 08:00:00        13.416667
8       1  2023-03-23 09:00:00        21.416667
9       1  2023-03-23 10:00:00        21.500000

In [38]:
df_availability_new=df_availability_new.merge(df_weather,on='hour')

In [39]:
pd.set_option('display.max_rows', None)
df_availability[['available_bikes','last_update']].set_index(pd.DatetimeIndex(df_availability.last_update)).resample(rule='1H').mean()

/var/folders/wr/7y3zysbj7v98hljgp945drfc0000gn/T/ipykernel_88680/564370761.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_availability[['available_bikes','last_update']].set_index(pd.DatetimeIndex(df_availability.last_update)).resample(rule='1H').mean()

                     available_bikes
last_update
2023-03-23 01:00:00        12.052632
2023-03-23 02:00:00        12.059942
2023-03-23 03:00:00        12.061404
2023-03-23 04:00:00        12.061404
2023-03-23 05:00:00        11.935673
2023-03-23 06:00:00        11.548977
2023-03-23 07:00:00        11.152778
2023-03-23 08:00:00        10.064327
2023-03-23 09:00:00        10.671053
2023-03-23 10:00:00        11.200292
2023-03-23 11:00:00        11.239766
2023-03-23 12:00:00        11.290936
2023-03-23 13:00:00        11.204678
2023-03-23 14:00:00        11.378655
2023-03-23 15:00:00        11.358187
2023-03-23 16:00:00        11.135234
2023-03-23 17:00:00        10.838450
2023-03-23 18:00:00        11.042398
2023-03-23 19:00:00        11.712719
2023-03-23 20:00:00        11.970494
2023-03-23 21:00:00        12.049708
2023-03-23 22:00:00        12.052632
2023-03-23 23:00:00        12.176901
2023-03-24 00:00:00        12.283626
2023-03-24 01:00:00        12.331140
2023-03-24 02:00:00        12.342105
2023-03-24 03:00:00        12.342105
2023-03-24 04:00:00        12.342105
2023-03-24 05:00:00        12.233187
2023-03-24 06:00:00        11.865497
2023-03-24 07:00:00        11.702485
2023-03-24 08:00:00        10.983187
2023-03-24 09:00:00        11.316520
2023-03-24 10:00:00        11.474415
2023-03-24 11:00:00        11.420322
2023-03-24 12:00:00        11.187135
2023-03-24 13:00:00        11.176901
2023-03-24 14:00:00        11.589912
2023-03-24 15:00:00        11.495614
2023-03-24 16:00:00        11.247209
2023-03-24 17:00:00        11.172515
2023-03-24 18:00:00        11.348684
2023-03-24 19:00:00        11.823099
2023-03-24 20:00:00        12.029240
2023-03-24 21:00:00        12.117690
2023-03-24 22:00:00        12.154240
2023-03-24 23:00:00        12.132310
2023-03-25 00:00:00        12.234649
2023-03-25 01:00:00        12.320175
2023-03-25 02:00:00        12.346491
2023-03-25 03:00:00        12.350877
2023-03-25 04:00:00        12.350877
2023-03-25 05:00:00        12.316520
2023-03-25 06:00:00        12.271930
2023-03-25 07:00:00        12.110380
2023-03-25 08:00:00        12.098684
2023-03-25 09:00:00        11.970029
2023-03-25 10:00:00        11.786550
2023-03-25 11:00:00        11.646930
2023-03-25 12:00:00        11.523392
2023-03-25 13:00:00        11.641813
2023-03-25 14:00:00        11.560673
2023-03-25 15:00:00        11.723684
2023-03-25 16:00:00        11.622807
2023-03-25 17:00:00        11.591374
2023-03-25 18:00:00        11.670322
2023-03-25 19:00:00        11.882775
2023-03-25 20:00:00        11.969298
2023-03-25 21:00:00        12.024854
2023-03-25 22:00:00        12.038012
2023-03-25 23:00:00        12.038012
2023-03-26 00:00:00        12.120614
2023-03-26 01:00:00        12.254386
2023-03-26 02:00:00        12.265351
2023-03-26 03:00:00        12.271930
2023-03-26 04:00:00        12.241228
2023-03-26 05:00:00        12.221491
2023-03-26 06:00:00        12.173246
2023-03-26 07:00:00        12.155702
2023-03-26 08:00:00        12.120614
2023-03-26 09:00:00        11.995614
2023-03-26 10:00:00        11.959795
2023-03-26 11:00:00        11.980994
2023-03-26 12:00:00        11.798977
2023-03-26 13:00:00        11.855994
2023-03-26 14:00:00        11.630848
2023-03-26 15:00:00        11.554825
2023-03-26 16:00:00        11.728070
2023-03-26 17:00:00        11.772661
2023-03-26 18:00:00        11.892544
2023-03-26 19:00:00        12.002924
2023-03-26 20:00:00        12.051834
2023-03-26 21:00:00        12.040205
2023-03-26 22:00:00        12.083333
2023-03-26 23:00:00        12.187865
2023-03-27 00:00:00        12.236842
2023-03-27 01:00:00        12.236842
2023-03-27 02:00:00        12.236842
2023-03-27 03:00:00        12.236842
2023-03-27 04:00:00        12.067251
2023-03-27 05:00:00        11.747076
2023-03-27 06:00:00        11.483187
2023-03-27 07:00:00        10.456871
2023-03-27 08:00:00        10.930556
2023-03-27 09:00:00        11.346491
2023-03-27 10:00:00        11.402047
2023-03-27 11:00:00        11.103070
2023-03-27 12:00:00        11.049708
2023-03-27 13:00:00              NaN
2023-03-27 14:00:00              NaN
2023-03-27 15:00:00              NaN
2023-03-27 16:00:00              NaN
2023-03-27 17:00:00              NaN
2023-03-27 18:00:00              NaN
2023-03-27 19:00:00              NaN
2023-03-27 20:00:00              NaN
2023-03-27 21:00:00              NaN
2023-03-27 22:00:00              NaN
2023-03-27 23:00:00              NaN
2023-03-28 00:00:00              NaN
2023-03-28 01:00:00              NaN
2023-03-28 02:00:00              NaN
2023-03-28 03:00:00              NaN
2023-03-28 04:00:00              NaN
2023-03-28 05:00:00              NaN
2023-03-28 06:00:00              NaN
2023-03-28 07:00:00              NaN
2023-03-28 08:00:00              NaN
2023-03-28 09:00:00              NaN
2023-03-28 10:00:00              NaN
2023-03-28 11:00:00              NaN
2023-03-28 12:00:00              NaN
2023-03-28 13:00:00              NaN
2023-03-28 14:00:00              NaN
2023-03-28 15:00:00              NaN
2023-03-28 16:00:00              NaN
2023-03-28 17:00:00              NaN
2023-03-28 18:00:00              NaN
2023-03-28 19:00:00              NaN
2023-03-28 20:00:00              NaN
2023-03-28 21:00:00              NaN
2023-03-28 22:00:00              NaN
2023-03-28 23:00:00              NaN
2023-03-29 00:00:00              NaN
2023-03-29 01:00:00              NaN
2023-03-29 02:00:00              NaN
2023-03-29 03:00:00              NaN
2023-03-29 04:00:00              NaN
2023-03-29 05:00:00              NaN
2023-03-29 06:00:00              NaN
2023-03-29 07:00:00              NaN
2023-03-29 08:00:00              NaN
2023-03-29 09:00:00              NaN
2023-03-29 10:00:00              NaN
2023-03-29 11:00:00              NaN
2023-03-29 12:00:00              NaN
2023-03-29 13:00:00              NaN
2023-03-29 14:00:00              NaN
2023-03-29 15:00:00              NaN
2023-03-29 16:00:00              NaN
2023-03-29 17:00:00              NaN
2023-03-29 18:00:00              NaN
2023-03-29 19:00:00              NaN
2023-03-29 20:00:00              NaN
2023-03-29 21:00:00              NaN
2023-03-29 22:00:00              NaN
2023-03-29 23:00:00              NaN
2023-03-30 00:00:00              NaN
2023-03-30 01:00:00              NaN
2023-03-30 02:00:00              NaN
2023-03-30 03:00:00              NaN
2023-03-30 04:00:00              NaN
2023-03-30 05:00:00              NaN
2023-03-30 06:00:00              NaN
2023-03-30 07:00:00              NaN
2023-03-30 08:00:00              NaN
2023-03-30 09:00:00        10.978801
2023-03-30 10:00:00        11.233187
2023-03-30 11:00:00        10.991228
2023-03-30 12:00:00        10.872807
2023-03-30 13:00:00        11.187865
2023-03-30 14:00:00        11.098684
2023-03-30 15:00:00        11.003655
2023-03-30 16:00:00        10.272661
2023-03-30 17:00:00        10.498538
2023-03-30 18:00:00        11.136696
2023-03-30 19:00:00        11.374269
2023-03-30 20:00:00        11.559942
2023-03-30 21:00:00        11.635566
2023-03-30 22:00:00        11.730263
2023-03-30 23:00:00        11.860380
2023-03-31 00:00:00        11.927632
2023-03-31 01:00:00        11.929825
2023-03-31 02:00:00        11.929825
2023-03-31 03:00:00        11.929825
2023-03-31 04:00:00        11.798246
2023-03-31 05:00:00        11.537281
2023-03-31 06:00:00        11.323099
2023-03-31 07:00:00        10.603070
2023-03-31 08:00:00        10.877924
2023-03-31 09:00:00        11.119152
2023-03-31 10:00:00        11.241959
2023-03-31 11:00:00        11.016813
2023-03-31 12:00:00        10.926901
2023-03-31 13:00:00        11.260965
2023-03-31 14:00:00        11.243421
2023-03-31 15:00:00        11.274854
2023-03-31 16:00:00        11.240497
2023-03-31 17:00:00        11.269006
2023-03-31 18:00:00        11.514620
2023-03-31 19:00:00        11.687135
2023-03-31 20:00:00        11.707602
2023-03-31 21:00:00        11.711988
2023-03-31 22:00:00        11.689327
2023-03-31 23:00:00        11.701754
2023-04-01 00:00:00        11.822368
2023-04-01 01:00:00        11.855994
2023-04-01 02:00:00        11.859649
2023-04-01 03:00:00        11.859649
2023-04-01 04:00:00        11.835526
2023-04-01 05:00:00        11.802632
2023-04-01 06:00:00        11.858918
2023-04-01 07:00:00        11.970029
2023-04-01 08:00:00        11.976608
2023-04-01 09:00:00        11.812135
2023-04-01 10:00:00        11.706871
2023-04-01 11:00:00        11.605994
2023-04-01 12:00:00        11.568713
2023-04-01 13:00:00        11.418129
2023-04-01 14:00:00        11.526316
2023-04-01 15:00:00        11.599415
2023-04-01 16:00:00        11.842105
2023-04-01 17:00:00        11.869883
2023-04-01 18:00:00        11.915205
2023-04-01 19:00:00        11.850877
2023-04-01 20:00:00        11.947368
2023-04-01 21:00:00        11.899123
2023-04-01 22:00:00        11.912281
2023-04-01 23:00:00        11.991959
2023-04-02 00:00:00        12.083333
2023-04-02 01:00:00        12.103801
2023-04-02 02:00:00        12.108918
2023-04-02 03:00:00        12.114035
2023-04-02 04:00:00        12.089912
2023-04-02 05:00:00        12.035088
2023-04-02 06:00:00        12.017544
2023-04-02 07:00:00        11.976608
2023-04-02 08:00:00        11.888158
2023-04-02 09:00:00        11.615497
2023-04-02 10:00:00        11.483254
2023-04-02 11:00:00        11.280702
2023-04-02 12:00:00        11.333333
2023-04-02 13:00:00        11.283626
2023-04-02 14:00:00        11.201023
2023-04-02 15:00:00        11.240497
2023-04-02 16:00:00        11.317982
2023-04-02 17:00:00        11.353070
2023-04-02 18:00:00        11.520468
2023-04-02 19:00:00        11.819444
2023-04-02 20:00:00        11.834064
2023-04-02 21:00:00        11.864035
2023-04-02 22:00:00        11.916667
2023-04-02 23:00:00        11.975877
2023-04-03 00:00:00        12.030702
2023-04-03 01:00:00        12.035088
2023-04-03 02:00:00        12.035088
2023-04-03 03:00:00        12.035088
2023-04-03 04:00:00        11.807749
2023-04-03 05:00:00        11.521199
2023-04-03 06:00:00        11.258772
2023-04-03 07:00:00        10.222222
2023-04-03 08:00:00        10.924708
2023-04-03 09:00:00        11.041667
2023-04-03 10:00:00        10.991959
2023-04-03 11:00:00        10.769737
2023-04-03 12:00:00        10.706539
2023-04-03 13:00:00        10.964912
2023-04-03 14:00:00        10.932018
2023-04-03 15:00:00        10.679094
2023-04-03 16:00:00        10.185673
2023-04-03 17:00:00        10.501462
2023-04-03 18:00:00        10.839912
2023-04-03 19:00:00        11.148392
2023-04-03 20:00:00        11.328216
2023-04-03 21:00:00        11.359649
2023-04-03 22:00:00        11.522661
2023-04-03 23:00:00        11.531433
2023-04-04 00:00:00        11.587719
2023-04-04 01:00:00        11.587719
2023-04-04 02:00:00        11.587719
2023-04-04 03:00:00        11.587719
2023-04-04 04:00:00        11.573099
2023-04-04 05:00:00        11.586257
2023-04-04 06:00:00        11.204678
2023-04-04 07:00:00         9.864035
2023-04-04 08:00:00        10.649123
2023-04-04 09:00:00        10.956140

In [40]:
# test_1=df[(df['last_update']=='2023')]
# print("Number of rows failing the test: ", test_1.shape[0])

In [41]:
# df=df.drop(test_1)

In [42]:
df_weather.isnull().sum()

weather       0
temp          0
feel_temp     0
min_temp      0
max_temp      0
pressure      0
humidity      0
visibility    0
wind_speed    0
wind_deg      0
time          0
hour          0
dtype: int64

In [43]:
pd.set_option('display.max_rows', None)
df_weather.set_index(pd.DatetimeIndex(df_weather.time)).resample(rule='1H').mean()

/var/folders/wr/7y3zysbj7v98hljgp945drfc0000gn/T/ipykernel_88680/384353120.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_weather.set_index(pd.DatetimeIndex(df_weather.time)).resample(rule='1H').mean()

,temp,feel_temp,min_temp,max_temp,pressure,humidity,visibility,wind_speed,wind_deg
time,,,,,,,,,
2023-03-23 01:00:00,281.190,277.210,280.510,281.690,987.0,76.0,10000.0,8.230,200.0
2023-03-23 02:00:00,280.310,275.780,279.680,280.580,987.0,83.0,10000.0,9.260,220.0
2023-03-23 03:00:00,280.770,277.130,279.510,281.480,986.0,86.0,10000.0,6.690,210.0
2023-03-23 04:00:00,280.560,276.860,280.000,281.470,986.0,84.0,10000.0,6.690,200.0
2023-03-23 05:00:00,281.090,277.220,280.510,281.690,986.0,83.0,10000.0,7.720,210.0
2023-03-23 06:00:00,281.090,277.080,280.510,281.690,986.0,81.0,10000.0,8.230,210.0
2023-03-23 07:00:00,281.510,277.360,280.510,282.250,986.0,81.0,10000.0,9.260,210.0
2023-03-23 08:00:00,282.730,279.970,282.020,283.150,986.0,78.0,10000.0,5.660,190.0
2023-03-23 09:00:00,284.010,283.080,282.680,284.580,986.0,74.0,10000.0,10.290,210.0
2023-03-23 10:00:00,284.960,284.000,283.680,285.690,988.0,69.0,10000.0,10.290,210.0
2023-03-23 11:00:00,285.830,284.900,284.030,286.800,989.0,67.0,10000.0,9.260,220.0
2023-03-23 12:00:00,285.800,284.920,283.680,287.360,988.0,69.0,10000.0,8.750,220.0
2023-03-23 13:00:00,286.560,285.680,284.800,287.360,986.0,66.0,10000.0,9.770,210.0
2023-03-23 14:00:00,286.840,285.860,286.250,287.360,985.0,61.0,10000.0,10.800,210.0
2023-03-23 15:00:00,286.550,285.540,284.680,287.360,987.0,61.0,10000.0,11.830,210.0
2023-03-23 16:00:00,285.300,284.400,282.680,286.800,984.0,70.0,10000.0,8.050,247.0
2023-03-23 17:00:00,284.660,283.750,282.680,285.580,984.0,72.0,10000.0,7.200,220.0
2023-03-23 18:00:00,283.890,282.900,282.580,284.470,986.0,72.0,10000.0,7.720,180.0
2023-03-23 19:00:00,283.160,282.170,282.360,283.920,983.0,75.0,10000.0,7.720,180.0
2023-03-23 20:00:00,281.920,277.250,280.140,282.800,984.0,77.0,10000.0,12.350,220.0
2023-03-23 21:00:00,281.080,276.880,280.140,281.690,986.0,74.0,10000.0,8.940,232.0
2023-03-23 22:00:00,280.780,276.150,279.680,281.690,984.0,75.0,10000.0,10.290,210.0
2023-03-23 23:00:00,280.690,276.160,279.680,281.250,986.0,75.0,10000.0,9.770,220.0
2023-03-24 00:00:00,280.650,276.230,279.030,281.690,986.0,74.0,10000.0,9.260,210.0
2023-03-24 01:00:00,281.000,276.570,279.680,282.020,987.0,74.0,10000.0,9.770,220.0
2023-03-24 02:00:00,281.410,277.230,280.680,281.800,987.0,76.0,10000.0,9.260,210.0
2023-03-24 03:00:00,281.080,276.800,280.140,282.020,986.0,76.0,10000.0,9.260,220.0
2023-03-24 04:00:00,281.270,276.810,280.140,282.020,987.0,76.0,10000.0,10.290,220.0
2023-03-24 05:00:00,281.790,277.500,281.250,282.580,988.0,74.0,10000.0,10.290,210.0
2023-03-24 06:00:00,281.790,277.610,281.250,282.580,988.0,75.0,10000.0,9.770,220.0
2023-03-24 07:00:00,282.000,277.890,281.510,282.590,987.0,76.0,10000.0,9.770,220.0
2023-03-24 08:00:00,282.430,278.830,281.680,283.130,987.0,75.0,10000.0,8.230,220.0
2023-03-24 09:00:00,283.880,282.860,283.470,284.260,989.0,71.0,10000.0,9.770,210.0
2023-03-24 10:00:00,284.880,283.810,283.470,285.580,989.0,65.0,10000.0,10.800,220.0
2023-03-24 11:00:00,285.180,284.110,284.030,285.680,988.0,64.0,10000.0,10.290,210.0
2023-03-24 12:00:00,286.030,285.040,284.800,286.800,986.0,64.0,10000.0,11.830,220.0
2023-03-24 13:00:00,285.870,284.840,285.510,286.250,985.0,63.0,10000.0,9.260,220.0
2023-03-24 14:00:00,283.620,282.710,281.680,285.360,986.0,76.0,4500.0,10.800,230.0
2023-03-24 15:00:00,283.930,283.020,283.130,284.260,985.0,75.0,9000.0,11.320,220.0
2023-03-24 16:00:00,283.220,282.290,282.020,283.710,985.0,77.0,10000.0,11.830,230.0
2023-03-24 17:00:00,282.730,278.340,282.020,283.150,986.0,75.0,10000.0,12.350,230.0
2023-03-24 18:00:00,281.780,277.060,281.110,282.510,987.0,77.0,10000.0,12.350,230.0
2023-03-24 19:00:00,281.610,276.830,281.470,281.800,987.0,79.0,10000.0,12.350,230.0
2023-03-24 20:00:00,281.410,277.950,281.110,281.690,988.0,83.0,10000.0,6.690,240.0
2023-03-24 21:00:00,281.640,277.300,281.110,282.040,989.0,81.0,10000.0,10.290,240.0
2023-03-24 22:00:00,281.610,277.260,281.470,281.800,991.0,81.0,10000.0,10.290,240.0
2023-03-24 23:00:00,281.610,277.370,281.470,281.800,992.0,84.0,10000.0,9.770,240.0
2023-03-25 00:00:00,281.410,277.500,280.680,282.020,993.0,84.0,10000.0,8.230,260.0
2023-03-25 01:00:00,281.290,277.340,281.110,281.510,995.0,86.0,10000.0,8.230,260.0
2023-03-25 02:00:00,280.890,276.680,280.510,281.470,995.0,87.0,10000.0,8.750,240.0
2023-03-25 03:00:00,280.620,276.330,279.680,281.470,996.0,87.0,10000.0,8.750,240.0
2023-03-25 04:00:00,280.320,276.080,279.680,280.690,997.0,86.0,10000.0,8.230,260.0
2023-03-25 05:00:00,280.330,276.090,279.030,282.020,997.0,86.0,10000.0,8.230,240.0
2023-03-25 06:00:00,280.520,276.650,279.030,282.020,998.0,89.0,10000.0,7.200,240.0
2023-03-25 07:00:00,281.230,277.120,280.140,282.020,999.0,88.0,10000.0,8.750,240.0
2023-03-25 08:00:00,281.790,278.130,281.250,282.580,1000.0,85.0,10000.0,7.720,270.0
2023-03-25 09:00:00,282.820,279.470,282.360,283.470,1001.0,80.0,10000.0,7.720,260.0
2023-03-25 10:00:00,283.720,282.740,283.470,283.920,1002.0,73.0,10000.0,8.230,250.0
2023-03-25 11:00:00,284.560,283.580,283.470,285.690,1002.0,70.0,10000.0,7.200,260.0
2023-03-25 12:00:00,284.870,283.950,284.030,285.140,1002.0,71.0,10000.0,5.660,260.0
2023-03-25 13:00:00,284.720,283.840,284.440,285.510,1003.0,73.0,10000.0,5.140,240.0
2023-03-25 14:00:00,285.880,284.910,285.140,286.690,1002.0,65.0,10000.0,6.170,250.0
2023-03-25 15:00:00,284.020,283.250,282.680,286.470,1002.0,80.0,10000.0,3.600,260.0
2023-03-25 16:00:00,284.340,283.550,283.680,285.360,1002.0,78.0,10000.0,3.090,220.0
2023-03-25 17:00:00,285.030,284.100,284.030,285.930,1001.0,70.0,10000.0,2.570,210.0
2023-03-25 18:00:00,284.370,283.480,283.510,285.140,1001.0,74.0,10000.0,2.570,130.0
2023-03-25 19:00:00,282.410,281.430,280.140,283.710,1000.0,78.0,10000.0,2.060,110.0
2023-03-25 20:00:00,280.970,279.340,280.140,281.690,1000.0,84.0,10000.0,2.570,100.0
2023-03-25 21:00:00,280.450,279.670,279.030,282.040,1000.0,84.0,10000.0,1.540,0.0
2023-03-25 22:00:00,279.990,278.180,278.890,281.480,1000.0,85.0,10000.0,2.570,90.0
2023-03-25 23:00:00,279.530,277.250,278.330,281.480,1001.0,88.0,10000.0,3.090,90.0
2023-03-26 00:00:00,280.260,278.500,279.440,281.140,1000.0,89.0,2500.0,2.570,130.0
2023-03-26 01:00:00,281.060,279.450,279.680,282.040,1000.0,92.0,4000.0,2.570,100.0
2023-03-26 02:00:00,281.230,279.300,280.140,282.040,1001.0,93.0,800.0,3.090,80.0
2023-03-26 03:00:00,281.460,279.580,280.510,282.680,1001.0,92.0,600.0,3.090,30.0
2023-03-26 04:00:00,281.610,278.970,281.470,281.800,1001.0,92.0,800.0,4.630,30.0
2023-03-26 05:00:00,281.480,278.390,281.110,281.800,1002.0,92.0,7000.0,5.660,40.0
2023-03-26 06:00:00,281.300,278.170,281.110,281.680,1003.0,92.0,9000.0,5.660,50.0
2023-03-26 07:00:00,281.080,278.090,280.510,281.680,1005.0,92.0,9000.0,5.140,40.0
2023-03-26 08:00:00,280.940,277.710,280.510,281.680,1007.0,90.0,9000.0,5.660,40.0
2023-03-26 09:00:00,280.850,277.800,280.510,281.470,1008.0,91.0,10000.0,5.140,40.0
2023-03-26 10:00:00,280.710,277.630,280.370,281.470,1010.0,90.0,4000.0,5.140,20.0
2023-03-26 11:00:00,280.820,277.370,280.370,282.020,1012.0,92.0,7000.0,6.170,10.0
2023-03-26 12:00:00,280.500,276.970,280.370,281.250,1013.0,90.0,10000.0,6.170,20.0
2023-03-26 13:00:00,280.940,277.190,280.510,282.020,1014.0,84.0,10000.0,7.200,360.0
2023-03-26 14:00:00,281.810,278.630,281.470,282.360,1015.0,77.0,10000.0,6.170,30.0
2023-03-26 15:00:00,281.900,278.930,281.480,282.680,1016.0,74.0,10000.0,5.660,30.0
2023-03-26 16:00:00,281.780,278.770,281.470,282.680,1017.0,72.0,10000.0,5.660,40.0
2023-03-26 17:00:00,281.300,278.580,281.110,281.680,1018.0,71.0,10000.0,4.630,60.0
2023-03-26 18:00:00,280.780,278.450,280.510,281.140,1019.0,73.0,10000.0,3.600,30.0
2023-03-26 19:00:00,280.490,279.190,280.000,280.930,1020.0,75.0,10000.0,2.060,20.0
2023-03-26 20:00:00,279.690,277.440,278.510,280.370,1020.0,74.0,10000.0,3.090,30.0
2023-03-26 21:00:00,277.850,275.640,277.220,278.680,1021.0,76.0,10000.0,2.570,70.0
2023-03-26 22:00:00,278.280,277.190,276.470,279.820,1022.0,73.0,10000.0,1.540,320.0
2023-03-26 23:00:00,276.540,274.080,273.510,279.260,1022.0,83.0,10000.0,2.570,300.0
2023-03-27 00:00:00,275.110,271.930,272.510,277.590,1023.0,87.0,10000.0,3.090,310.0
2023-03-27 01:00:00,274.690,271.880,271.510,277.590,1024.0,88.0,10000.0,2.570,320.0
2023-03-27 02:00:00,273.370,269.840,272.360,275.030,1024.0,90.0,10000.0,3.090,330.0
2023-03-27 03:00:00,273.640,271.190,271.250,276.480,1023.0,88.0,10000.0,2.060,300.0
2023-03-27 04:00:00,273.440,270.400,270.510,275.930,1024.0,89.0,10000.0,2.570,280.0
2023-03-27 05:00:00,273.040,270.490,270.510,275.370,1024.0,90.0,10000.0,2.060,130.0
2023-03-27 06:00:00,272.800,270.210,269.510,275.370,1024.0,89.0,10000.0,2.060,310.0
2023-03-27 07:00:00,273.990,271.050,270.510,276.480,1025.0,87.0,10000.0,2.570,360.0
2023-03-27 08:00:00,277.220,274.890,274.030,279.260,1025.0,84.0,10000.0,2.570,100.0
2023-03-27 09:00:00,280.000,277.820,279.240,280.580,1025.0,74.0,10000.0,3.090,60.0
2023-03-27 10:00:00,281.080,278.820,280.370,282.360,1025.0,71.0,10000.0,3.600,90.0
2023-03-27 11:00:00,282.250,280.040,280.930,283.470,1024.0,69.0,10000.0,4.020,83.0
2023-03-27 12:00:00,282.730,280.360,280.910,283.890,1024.0,70.0,10000.0,4.630,110.0
2023-03-27 13:00:00,282.990,280.300,281.250,283.920,1024.0,69.0,10000.0,5.660,130.0
2023-03-27 14:00:00,283.280,282.100,281.250,284.030,1023.0,67.0,10000.0,5.360,130.0
2023-03-27 15:00:00,283.130,280.310,282.510,283.470,1023.0,67.0,10000.0,6.170,140.0
2023-03-27 16:00:00,283.500,282.260,282.360,284.470,1022.0,64.0,10000.0,6.710,160.0
2023-03-27 17:00:00,282.570,279.430,282.250,282.910,1022.0,63.0,10000.0,6.710,160.0
2023-03-27 18:00:00,281.700,278.870,281.250,282.040,1021.0,66.0,10000.0,5.140,160.0
2023-03-27 19:00:00,280.950,278.020,280.510,281.480,1020.0,70.0,10000.0,4.920,160.0
2023-03-27 20:00:00,280.620,277.740,280.000,281.480,1020.0,74.0,10000.0,4.630,150.0
2023-03-27 21:00:00,280.440,277.290,280.000,281.470,1019.0,80.0,10000.0,5.140,160.0
2023-03-27 22:00:00,281.050,278.060,280.510,282.040,1018.0,79.0,10000.0,5.140,150.0
2023-03-27 23:00:00,281.690,278.480,281.250,282.040,1017.0,78.0,10000.0,6.170,160.0
2023-03-28 00:00:00,281.640,279.240,281.110,282.040,1016.0,80.0,10000.0,4.120,150.0
2023-03-28 01:00:00,281.780,279.410,281.110,282.590,1015.0,82.0,9000.0,4.120,140.0
2023-03-28 02:00:00,281.860,278.870,281.470,282.250,1014.0,80.0,6000.0,5.660,210.0
2023-03-28 03:00:00,281.670,278.830,281.110,282.040,1013.0,83.0,10000.0,5.140,190.0
2023-03-28 04:00:00,281.640,277.800,281.110,282.040,1012.0,81.0,10000.0,8.230,200.0
2023-03-28 05:00:00,281.330,278.210,280.510,282.040,1011.0,82.0,10000.0,5.660,170.0
2023-03-28 06:00:00,281.780,277.980,281.110,282.590,1010.0,82.0,10000.0,8.230,200.0
2023-03-28 07:00:00,281.870,277.960,281.110,282.680,1009.0,84.0,10000.0,8.750,190.0
2023-03-28 08:00:00,282.440,278.250,281.510,283.710,1008.0,84.0,10000.0,10.800,190.0
2023-03-28 09:00:00,283.890,283.080,283.330,284.260,1008.0,79.0,10000.0,10.800,190.0
2023-03-28 10:00:00,284.780,284.010,283.130,285.680,1008.0,77.0,10000.0,9.770,200.0
2023-03-28 11:00:00,285.010,284.370,283.690,285.680,1006.0,81.0,10000.0,7.200,200.0
2023-03-28 12:00:00,286.270,285.670,284.800,286.800,1006.0,78.0,10000.0,6.690,210.0
2023-03-28 13:00:00,286.810,286.240,286.470,287.360,1006.0,77.0,10000.0,8.230,210.0
2023-03-28 14:00:00,288.090,287.470,287.510,288.330,1006.0,70.0,10000.0,6.690,230.0
2023-03-28 15:00:00,288.650,288.080,288.150,289.030,1005.0,70.0,10000.0,4.630,210.0
2023-03-28 16:00:00,288.160,287.670,287.510,288.710,1005.0,75.0,10000.0,5.140,220.0
2023-03-28 17:00:00,288.240,287.760,287.510,288.920,1005.0,75.0,9000.0,6.170,220.0
2023-03-28 18:00:00,287.230,286.780,286.250,287.910,1006.0,80.0,10000.0,3.600,210.0
2023-03-28 19:00:00,286.210,285.740,285.510,286.800,1006.0,83.0,9000.0,5.660,210.0
2023-03-28 20:00:00,285.470,284.870,284.800,285.680,1006.0,81.0,10000.0,5.140,190.0
2023-03-28 21:00:00,285.390,284.810,284.680,285.510,1011.0,82.0,10000.0,6.170,200.0
2023-03-28 22:00:00,284.770,284.150,284.240,285.000,1006.0,83.0,10000.0,6.690,190.0
2023-03-28 23:00:00,284.460,283.790,283.680,284.580,1006.0,82.0,10000.0,5.660,200.0
2023-03-29 00:00:00,285.010,284.370,284.510,285.370,1005.0,81.0,10000.0,7.200,210.0
2023-03-29 01:00:00,284.860,284.280,284.510,285.360,1005.0,84.0,10000.0,5.660,210.0
2023-03-29 02:00:00,284.770,284.100,284.030,285.360,1006.0,81.0,10000.0,8.230,210.0
2023-03-29 03:00:00,284.940,284.260,284.680,285.140,1003.0,80.0,10000.0,7.720,200.0
2023-03-29 04:00:00,284.830,284.140,284.030,285.680,1004.0,80.0,10000.0,4.630,190.0
2023-03-29 05:00:00,284.330,283.750,283.510,285.680,1003.0,86.0,10000.0,5.140,190.0
2023-03-29 06:00:00,284.440,283.900,283.510,285.680,1001.0,87.0,10000.0,8.230,200.0
2023-03-29 07:00:00,284.530,283.890,284.030,284.820,1001.0,83.0,10000.0,6.690,180.0
2023-03-29 08:00:00,284.280,283.690,283.920,284.580,1002.0,86.0,10000.0,6.170,150.0
2023-03-29 09:00:00,284.210,283.720,283.470,284.820,1001.0,90.0,10000.0,5.660,130.0
2023-03-29 10:00:00,285.040,284.630,284.510,285.690,997.0,90.0,4000.0,6.690,150.0
2023-03-29 11:00:00,286.110,285.790,285.580,286.800,996.0,89.0,10000.0,8.230,200.0
2023-03-29 12:00:00,287.580,287.220,286.470,288.150,996.0,82.0,10000.0,9.770,210.0
2023-03-29 13:00:00,289.400,288.960,287.580,290.140,995.0,72.0,10000.0,9.770,210.0
2023-03-29 14:00:00,289.650,289.110,288.680,290.140,995.0,67.0,10000.0,9.770,210.0
2023-03-29 15:00:00,289.510,288.920,288.130,290.140,995.0,66.0,10000.0,10.800,210.0
2023-03-29 16:00:00,288.640,288.070,286.680,289.580,995.0,70.0,10000.0,9.770,210.0
2023-03-29 17:00:00,287.740,287.110,286.680,288.150,994.0,71.0,10000.0,9.260,210.0
2023-03-29 18:00:00,287.430,286.740,286.470,287.800,994.0,70.0,10000.0,8.230,200.0
2023-03-29 19:00:00,286.340,285.620,285.360,287.040,994.0,73.0,10000.0,6.690,210.0
2023-03-29 20:00:00,285.710,284.950,284.680,286.480,994.0,74.0,10000.0,6.690,210.0
2023-03-29 21:00:00,285.180,284.420,284.030,285.930,995.0,76.0,10000.0,7.200,200.0
2023-03-29 22:00:00,284.890,284.130,284.030,285.580,995.0,77.0,10000.0,4.630,210.0
2023-03-29 23:00:00,284.910,284.260,284.510,285.000,994.0,81.0,10000.0,5.140,220.0
2023-03-30 00:00:00,283.690,283.120,283.360,284.030,995.0,89.0,4500.0,5.140,220.0
2023-03-30 01:00:00,283.610,283.060,283.330,284.240,995.0,90.0,4000.0,6.170,220.0
2023-03-30 02:00:00,283.220,282.610,282.680,283.710,995.0,89.0,10000.0,6.690,220.0
2023-03-30 03:00:00,282.660,279.710,282.220,283.150,995.0,86.0,10000.0,6.170,210.0
2023-03-30 04:00:00,282.270,279.220,281.250,283.150,996.0,88.0,10000.0,6.170,200.0
2023-03-30 05:00:00,282.090,279.170,281.250,283.150,995.0,86.0,10000.0,5.660,200.0
2023-03-30 06:00:00,282.190,279.290,281.250,283.690,995.0,87.0,10000.0,5.660,200.0
2023-03-30 07:00:00,283.600,282.950,282.510,284.260,995.0,86.0,10000.0,6.690,210.0
2023-03-30 08:00:00,284.240,283.600,283.510,284.820,996.0,84.0,10000.0,7.720,220.0
2023-03-30 09:00:00,285.770,285.150,285.010,286.195,996.5,79.0,10000.0,7.720,220.0
2023-03-30 10:00:00,286.775,286.165,285.995,287.635,997.0,75.5,10000.0,7.975,220.0
2023-03-30 11:00:00,287.495,286.905,286.510,288.190,997.0,73.5,10000.0,5.660,220.0
2023-03-30 12:00:00,288.100,287.545,287.380,288.750,996.5,72.5,10000.0,7.460,220.0
2023-03-30 13:00:00,288.550,287.945,286.250,289.750,997.0,69.0,10000.0,5.140,225.0
2023-03-30 14:00:00,288.470,287.935,286.095,289.250,996.0,72.0,10000.0,5.805,169.5
2023-03-30 15:00:00,289.265,288.680,287.580,289.805,994.5,67.0,10000.0,8.235,200.0
2023-03-30 16:00:00,288.740,288.025,287.350,289.790,994.5,64.0,10000.0,7.720,205.0
2023-03-30 17:00:00,287.775,287.065,287.020,288.030,993.5,68.0,10000.0,7.720,195.0
2023-03-30 18:00:00,286.240,285.500,285.360,286.640,992.5,72.5,10000.0,5.655,170.0
2023-03-30 19:00:00,285.195,284.515,284.635,285.530,991.5,79.0,9000.0,5.915,145.0
2023-03-30 20:00:00,284.340,283.720,283.875,284.750,990.0,84.5,9000.0,4.425,122.5
2023-03-30 21:00:00,283.575,283.025,283.330,284.030,988.5,90.0,3750.0,5.140,130.0
2023-03-30 22:00:00,283.195,281.420,282.640,283.710,987.0,90.5,5000.0,6.690,120.0
2023-03-30 23:00:00,282.705,279.695,282.510,283.130,985.5,93.0,5000.0,6.430,115.0
2023-03-31 00:00:00,282.590,279.990,282.220,283.130,984.5,92.0,3813.0,5.390,91.5
2023-03-31 01:00:00,282.480,279.030,282.220,283.130,984.0,92.5,2500.0,7.715,95.0
2023-03-31 02:00:00,282.425,279.025,282.220,282.635,984.0,91.5,4500.0,7.460,85.0
2023-03-31 03:00:00,282.425,279.500,282.220,282.635,984.0,92.0,5250.0,5.915,80.0
2023-03-31 04:00:00,282.425,280.095,282.220,282.635,984.0,91.5,6000.0,4.375,70.0
2023-03-31 05:00:00,282.370,280.675,281.940,282.860,984.0,92.5,8000.0,3.090,45.0
2023-03-31 06:00:00,282.480,280.665,282.220,282.860,985.0,92.5,8500.0,3.345,25.0
2023-03-31 07:00:00,282.585,280.655,282.220,283.130,986.0,94.0,8000.0,3.600,190.0
2023-03-31 08:00:00,282.730,280.965,282.220,283.690,987.0,94.0,6000.0,3.345,10.0
2023-03-31 09:00:00,282.930,281.210,282.510,283.150,988.0,93.0,4750.0,3.345,20.0
2023-03-31 10:00:00,283.290,282.405,282.920,283.695,989.5,91.5,5500.0,3.085,15.0
2023-03-31 11:00:00,283.490,282.970,282.920,283.710,990.5,91.5,4500.0,3.600,185.0
2023-03-31 12:00:00,283.575,283.050,283.330,283.815,991.0,91.0,6500.0,3.600,185.0
2023-03-31 13:00:00,284.080,283.605,283.510,285.360,992.0,91.0,4000.0,2.570,350.0
2023-03-31 14:00:00,284.230,283.755,283.890,285.360,993.0,90.5,10000.0,3.090,345.0
2023-03-31 15:00:00,284.480,284.085,284.180,284.970,993.5,92.5,9000.0,2.830,315.0
2023-03-31 16:00:00,284.305,283.850,283.905,284.810,994.0,91.0,7500.0,3.860,300.0
2023-03-31 17:00:00,284.280,283.835,283.680,284.820,995.5,91.5,5500.0,4.120,285.0
2023-03-31 18:00:00,283.890,283.405,283.420,284.260,996.5,91.5,5500.0,5.655,295.0
2023-03-31 19:00:00,283.575,283.060,283.330,284.030,997.5,91.5,5500.0,5.145,300.0
2023-03-31 20:00:00,283.395,282.890,283.005,283.710,998.5,92.5,7000.0,5.400,285.0
2023-03-31 21:00:00,282.925,280.135,282.640,283.420,1000.0,93.0,7000.0,5.915,290.0
2023-03-31 22:00:00,282.795,280.055,282.365,283.150,1000.0,94.0,10000.0,5.660,280.0
2023-03-31 23:00:00,282.730,279.970,282.220,283.150,1001.0,92.0,10000.0,5.660,280.0
2023-04-01 00:00:00,282.660,280.175,282.220,283.140,1002.0,92.5,10000.0,4.885,290.0
2023-04-01 01:00:00,282.585,280.100,282.220,283.130,1002.0,93.0,10000.0,4.890,275.0
2023-04-01 02:00:00,282.425,280.090,282.220,282.635,1002.0,92.0,10000.0,4.375,280.0
2023-04-01 03:00:00,282.425,280.095,282.220,282.635,1003.0,92.0,10000.0,4.375,290.0
2023-04-01 04:00:00,282.260,279.775,281.510,283.130,1003.0,94.0,10000.0,4.630,290.0
2023-04-01 05:00:00,282.010,279.585,281.510,282.580,1003.5,94.5,10000.0,4.375,285.0
2023-04-01 06:00:00,281.945,279.400,281.510,282.580,1004.5,94.5,6500.0,4.630,300.0
2023-04-01 07:00:00,281.960,279.890,281.510,282.470,1006.0,94.0,6000.0,3.600,175.0
2023-04-01 08:00:00,281.690,279.560,281.480,282.580,1007.0,93.5,7500.0,3.600,175.0
2023-04-01 09:00:00,282.030,281.155,281.585,283.130,1008.5,93.5,5965.5,1.955,335.0
2023-04-01 10:00:00,282.800,280.930,282.510,283.030,1009.0,91.5,8500.0,3.605,325.0
2023-04-01 11:00:00,283.185,282.120,282.525,284.240,1010.0,90.5,10000.0,3.605,355.0
2023-04-01 12:00:00,283.820,283.280,283.435,284.345,1011.0,89.5,10000.0,4.120,360.0
2023-04-01 13:00:00,284.510,283.840,284.510,284.595,1012.0,82.0,10000.0,4.120,345.0
2023-04-01 14:00:00,284.075,283.400,283.935,284.655,1013.5,83.5,10000.0,5.145,325.0
2023-04-01 15:00:00,283.030,282.055,282.800,284.655,1014.5,87.0,7500.0,3.855,190.0
2023-04-01 16:00:00,282.885,280.765,282.250,284.185,1015.0,88.0,3500.0,4.720,190.5
2023-04-01 17:00:00,282.260,279.945,281.690,283.100,1016.5,90.0,3250.0,5.145,200.0
2023-04-01 18:00:00,282.145,278.945,282.040,282.595,1018.0,91.0,4750.0,6.685,165.0
2023-04-01 19:00:00,281.805,278.480,281.510,282.310,1019.0,91.0,8500.0,6.690,320.0
2023-04-01 20:00:00,281.640,278.335,281.110,282.040,1020.0,87.0,10000.0,6.430,315.0
2023-04-01 21:00:00,281.650,278.435,281.290,281.920,1021.0,84.0,10000.0,6.175,310.0
2023-04-01 22:00:00,281.660,278.820,281.470,281.800,1022.0,83.5,10000.0,5.140,310.0
2023-04-01 23:00:00,281.765,278.490,281.190,282.040,1022.5,83.5,10000.0,6.430,310.0

In [44]:
# df_availability['last_update'] = pd.to_datetime(df_availability['last_update'])
# df_weather['time'] = pd.to_datetime(df_weather['time'])

In [45]:
df_availability.dtypes

number                     int64
available_bikes            int64
available_bikes_stands     int64
last_update               object
hour                      object
dtype: object

In [46]:
# df_availability['last_update'] = pd.to_datetime(df_availability['last_update'], format='%Y-%m-%d %H:%M:%S')
# df_weather['time'] = pd.to_datetime(df_weather['time'], format='%Y-%m-%d %H:%M:%S')

In [47]:
# df_availability.set_index('last_update', inplace=True)
# df_weather.set_index('time', inplace=True)

In [48]:
df_weather.dtypes

weather        object
temp          float64
feel_temp     float64
min_temp      float64
max_temp      float64
pressure        int64
humidity        int64
visibility      int64
wind_speed    float64
wind_deg        int64
time           object
hour           object
dtype: object

In [49]:
# print(df_availability.index)
# print(df_weather.index)

In [50]:
# df_weather_resampled = weather.sort_values(by='time')
# df_weather_resampled = df_weather_resampled.set_index('time')
# df_weather_resampled = df_weather_resampled.resample('5T').ffill()

In [51]:
df_availability_new["hour"] = df_availability_new["hour"].astype("datetime64[ns]")

In [52]:
df_availability_new['year']=pd.DatetimeIndex(df_availability_new['hour']).year
df_availability_new['month']=pd.DatetimeIndex(df_availability_new['hour']).month
df_availability_new['day']=pd.DatetimeIndex(df_availability_new['hour']).day
df_availability_new['hours']=pd.DatetimeIndex(df_availability_new['hour']).hour

In [53]:
# df_availability_new["hour"]=pd.to_datetime(df_availability_new['hour'])

In [54]:
# df_availability_new['hour_float'] = df_availability_new['hour'].apply(lambda x: x.timestamp())

In [55]:
# df_availability_new["temp"]=df_availability_new["temp"].astype("object")
# df_availability_new["humidity"]=df_availability_new["humidity"].astype("object")
# df_availability_new["wind_speed"]=df_availability_new["wind_speed"].astype("object")
# df_availability_new["weather"]=df_availability_new["weather"].astype("object")

In [56]:
# df_availability_new["available_bikes"].astype("object")

In [57]:
df_availability_new.dtypes

number                      int64
hour               datetime64[ns]
available_bikes           float64
weather                    object
temp                      float64
feel_temp                 float64
min_temp                  float64
max_temp                  float64
pressure                    int64
humidity                    int64
visibility                  int64
wind_speed                float64
wind_deg                    int64
time                       object
year                        int64
month                       int64
day                         int64
hours                       int64
dtype: object

In [63]:
cols=["number","month","day","hours","temp","humidity","wind_speed","weather"]

In [75]:
df_availability_new["weather"].unique()

array(['Rain', 'Clouds', 'Clear', 'Mist', 'Fog', 'Drizzle'], dtype=object)

In [106]:
enc = OneHotEncoder(handle_unknown='ignore')
X = [['Rain', 1], ['Clouds', 2], ['Clear', 3],['Mist', 4],['Fog', 5],['Drizzle', 6]]
enc.fit(X)
OneHotEncoder(handle_unknown='ignore')
# enc.categories_
# enc.categories_[np.array(['Rain', 'Clouds', 'Clear', 'Mist', 'Fog', 'Drizzle'], dtype=object), np.array([1, 2, 3,4,5,6], dtype=object)]
enc.transform([['Rain', 1], ['Clouds', 2], ['Clear', 3],['Mist', 4],['Fog', 5],['Drizzle', 6]]).toarray()

array([[0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1.]])

In [98]:
enc = OneHotEncoder(handle_unknown='ignore')
weather_array = df_availability_new['weather']

In [102]:
test_array = ['Rain','Clouds','Clear','Mist', 'Fog','Drizzle']
from sklearn.preprocessing import LabelBinarizer
y = LabelBinarizer().fit_transform(test_array)
print(y)

[[0 0 0 0 0 1]
 [0 1 0 0 0 0]
 [1 0 0 0 0 0]
 [0 0 0 0 1 0]
 [0 0 0 1 0 0]
 [0 0 1 0 0 0]]

In [108]:
X = df_availability_new[cols]
y = df_availability_new['available_bikes']

In [109]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [110]:
a= LinearRegression() # choose your own model here...
a.fit(X_train, y_train)

LinearRegression()

In [115]:
with open('model.pkl', 'wb') as handle:
    pickle.dump(a, handle, pickle.HIGHEST_PROTOCOL)

In [116]:
result=a.predict(X_test)

In [117]:
print(result)

[11.45088053 11.3773269  12.00341101 ... 11.78583857 11.58522115
 11.43274175]